<h2>User List</h2>

<table border="1" cellpadding="5" cellspacing="0" style="border-collapse: collapse; width: 100%;" >
    <tr style="background-color: #f2f2f2;"    >
        <th>User ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
    </tr>
</table>


<div>
    <p *ngIf="users.length === 0" class="alert alert-warning text-center">No users available. </p>
</div>

<div>Going to add new feature tomorrow on this project </div>